/* 842 e 582 */
/* 60px */
/* 1.45 */
#game-container {
  aspect-ratio: var(--container-aspect-ratio);
  width: min(68vw, 90vh * var(--container-aspect-ratio));
  max-width: var(--container-max-width);
  background-color: var(--primary-color);
  border-radius: min(var(--border-radius-base), var(--border-radius-max));
  border: 1vw solid var(--secondary-color);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}