/* Para celulares muito pequenos (320px-374px) */
@media (max-width: 374px) {
  body {
    padding: 0.5vh;
  }

  #game-container {
    aspect-ratio: 0.7;
    width: min(95vw, 95vh * 0.7);
    border-width: 0.8vw;
    border-radius: 4.3vw;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  body {
    padding: 1vh;
  }

  #game-container {
    aspect-ratio: 0.7;
    /* Vertical */
    width: min(95vw, 95vh * 0.7);
    /* border-radius: 5vw */
    /* min(8vw, 25px); */
    border-radius: 4.3vw;
    border-width: 0.6vw;
  }
}

/* Para tablets pequenos e celulares muito grandes (horizontal) */
@media (min-width: 425px) and (max-width: 767px) {
  body {
    padding: 1vh;
  }

  #game-container {
    aspect-ratio: 0.7;
    /* Horizontal */
    width: min(95vw, 95vh * 0.7);
    /* border-radius: 5vw; */
    /* min(6vw, 50px); */
    border-width: 0.5vw;
    border-radius: 4.3vw;
  }
}

/* Para telas médias (tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
  #game-container {
    width: min(75vw, 85vh * 1.45);
    border-width: 0.4vw;
    border-radius: 4.3vw;
  }
}

/* Para telas grandes */
@media (min-width: 1025px) and (max-width: 1440px) {
  #game-container {
    width: min(75vw, 85vh * 1.45);
    max-width: 75vw;
    border-width: 0.4vw;
    border-radius: 4.3vw;
  }
}

/* Para telas muito grandes */
@media (min-width: 1441px) {
  #game-container {
    width: min(75vw, 85vh * 1.45);
    max-width: 75vw;
    border-width: 0.4vw;
    border-radius: 4.3vw;
  }
}

/* Ajuste para telas muito altas (portrait) */
/* @media (orientation: portrait) and (max-height: 600px) {
  #game-container {
    width: min(90vw, 90vh * 1.45);
    border-width: 0.3vw;
  }
} */